.btn {
    display: block;
    width: 100%;
    color: white;
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    background: black;
    padding: 10px;
    margin: 0 auto;
    border: 0;
    outline: 0;
    cursor: pointer;
}